.create-org-form {
    display: flex;
    flex-direction: column;
}

.create-org-input {
    width: 40%;
    display: inline-block;
}

.create-org-label {
    width: 50%;
    display: inline-block;
    display: flex;
    justify-content: space-between;
    margin-bottom: 7px;
}

.create-org-submit {
    width: 20%;
    text-align: center;
    margin-left: 20%;
}